<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <!-- Appender per la Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Logger principale per livello INFO -->
        <Root level="error">

        </Root>

        <Logger name="main" level="debug" additivity = "false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.logging.log4j" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="symboltable" level="debug" additivity = "false">
            <AppenderRef ref="Console"/>
        </Logger>

</Loggers>
</Configuration>
